.calculator {
    background: lightgreen;
    width: 400px;
    margin: auto;
    transform: translateY(50%);
    display: grid; 
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 75px 100px 100px 100px 100px;

    grid-template-areas: "screen screen screen screen"
                         "seven eight nine mult"
                         "four five six div"
                         "one two three minus"
                         "zero decimal clear plus";

}

*{
    font-family: 'Montserrat', sans-serif;
}

#calc-screen {
    height: 100;
    font-size: 32px;
    grid-area: screen;
}

button {
    height: 75%;
    width: 75%;
    margin: auto;
    font-size: 20px;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#zero{
    grid-area: zero;
}

#multilpy{
    grid-area: mult;
}

#divide {
    grid-area: div;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#decimal {
    grid-area: decimal;
}

#clear {
    grid-area: clear;
}
