body {
    background: lightblue;
}

.calculator {
    background: darkgray;
    border-radius: 10%;
    width: 450px;
    margin: auto;
    transform: translateY(25%);
    display: grid; 
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 120px 100px 100px 100px 100px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
    

    grid-template-areas: "screen screen screen screen"
                         "clear clear clear div"
                         "seven eight nine multiply"
                         "four five six minus"
                         "one two three plus"
                         "zero zero decimal equals"
                         "error error error error";

}

*{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#calc-screen {
    height: 75px;
    margin: 10px;
    transform: translateY(40%);
    font-size: 32px;
    grid-area: screen;
    width: 422px;
    color: black;
}

button {
    height: 100%;
    width: 100%;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: gray;
}

.operator-symbol {
    background: orange;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#zero{
    grid-area: zero;
}

#multilpy{
    grid-area: multiply;
}

#divide {
    grid-area: div;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#equals {
    grid-area: equals;
}

#decimal {
    grid-area: decimal;
}

#clear {
    grid-area: clear;
    background-color: lightgray;
}

.error-container {
    grid-area: error;
    position: relative;
    text-align: center;
}

.error-message {
    opacity: 0;
    color: red;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.displayed {
    opacity: 1;
}
